h2 {
  background-color: #16325c;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 18px;
}

.slds-badge {
  --slds-c-badge-color-background: #f6c403;
  --slds-c-badge-text-color: #000;
}
